#arriba_1{
	background-color: blue;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	height: 50%;
	width: 50%;


}
#arriba_2{
	background-color: red;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	height: 50%;
	width: 50%;

}
#abajo_1{
	background-color: red;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	height: 50%;
	width: 50%;



}
#abajo_2{
	background-color: blue;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	height: 50%;
	width: 50%;

}
.container{
	display: -webkit-box;
	margin: auto;
	width: 100%
}

html, body{
	height: 100%;
	width: 100%;
}